
<!--
	The SVG sprite always needs to be included first so that the symbols are available to
	be consumed in the rest of the app.
-->
<svg-sprite></svg-sprite>

<header class="header-panel">

	<nav class="nav">
		<a
			href="https://featureflagsbook.com/"
			target="_blank"
			class="nav-item nav-item--logo">
			<svg-icon type="logo" class="nav-item__icon" />
			<span class="nav-item__label">
				<u>Read Book</u> &rarr;
			</span>
		</a>

		<a
			routerLink="/features"
			routerLinkActive="is-on"
			class="nav-item">
			<svg-icon type="nav-feature-flags" class="nav-item__icon" />
			<span class="nav-item__label">
				<u>Feature Flags</u>
			</span>
		</a>
		<a
			routerLink="/staging"
			routerLinkActive="is-on"
			class="nav-item">
			<svg-icon type="nav-staging" class="nav-item__icon" />
			<span class="nav-item__label">
				<u>Staging</u>
			</span>
		</a>
		<a
			routerLink="/users"
			routerLinkActive="is-on"
			class="nav-item">
			<svg-icon type="nav-users" class="nav-item__icon" />
			<span class="nav-item__label">
				<u>Users</u>
			</span>
		</a>
		<a
			routerLink="/about"
			routerLinkActive="is-on"
			class="nav-item">
			<svg-icon type="nav-about" class="nav-item__icon" />
			<span class="nav-item__label">
				<u>About</u>
			</span>
		</a>
		<a
			routerLink="/raw"
			routerLinkActive="is-on"
			class="nav-item">
			<svg-icon type="nav-raw" class="nav-item__icon" />
			<span class="nav-item__label">
				<u>Raw JSON</u>
			</span>
		</a>
		<a
			routerLink="/account"
			routerLinkActive="is-on"
			class="nav-item nav-item--splitter">
			<svg-icon type="nav-account" class="nav-item__icon" />
			<span class="nav-item__label">
				<u>Account</u>
			</span>
		</a>
	</nav>

</header>

<main class="main-panel">

	<router-outlet />

</main>
