
<section class="temp-content">

	<h1>
		Features &rarr; List View
	</h1>

	<ul>
		<li>
			<a routerLink="/features/add">#/ features / add</a>
		</li>
		<li>
			<a routerLink="/features/clear">#/ features / clear</a>
		</li>
		<li>
			<a routerLink="/features/reset">#/ features / reset</a>
		</li>
		<li>
			<a routerLink="/features/feature-111/clear">#/ features / :featureKey / clear</a>
		</li>
		<li>
			<a routerLink="/features/feature-111/reset">#/ features / :featureKey / reset</a>
		</li>
		<li>
			<a routerLink="/features/feature-111/delete">#/ features / :featureKey / delete</a>
		</li>
		<li>
			<a routerLink="/features/feature-111/targeting">#/ features / :featureKey / targeting</a> &rarr; #/ features / :featureKey / targeting / overview
		</li>
		<li>
			<a routerLink="/features/feature-111/targeting/overview">#/ features / :featureKey / targeting / overview</a>
		</li>
		<li>
			<a routerLink="/features/feature-111/targeting/default-resolution">#/ features / :featureKey / targeting / :environmentKey / default-resolution</a>
		</li>
		<li>
			<a routerLink="/features/feature-111/targeting/rules-enabled">#/ features / :featureKey / targeting / :environmentKey / rules-enabled</a>
		</li>
		<li>
			<a routerLink="/features/feature-111/targeting/rules/4">#/ features / :featureKey / targeting / :environmentKey / rules / :ruleIndex</a>
		</li>
		<li>
			<a routerLink="/features/feature-111/targeting/rules/4/delete">#/ features / :featureKey / targeting / :environmentKey / rules / :ruleIndex / delete</a>
		</li>
	</ul>

</section>
