
<section class="temp-content">

	<h1>
		Feature: {{ featureKey }}
	</h1>

	<p>
		Description will go over here.
	</p>

	<p>
		<a [routerLink]="[ '/features', featureKey, 'targeting' ]">Targeting</a> ,
		<a [routerLink]="[ '/features', featureKey, 'clear' ]">Clear</a> ,
		<a [routerLink]="[ '/features', featureKey, 'reset' ]">Reset</a> ,
		<a [routerLink]="[ '/features', featureKey, 'delete' ]">Delete</a>
		|
		<a routerLink="/features">All features</a> &rarr;
	</p>

	<hr />

	<router-outlet />

</section>

<aside class="temp-staging">

	<feature-staging [featureKey]="featureKey"></feature-staging>

</aside>
