
// ---
// LESS CSS Utilities.
// ---

.less-remove-inner-margins() {
	> *:first-child:where( h2, h3, h4, h5, h6, p, ul, ol, dl ) {
		margin-top: 0 ;
	}

	> *:last-child:where( h2, h3, h4, h5, h6, p, ul, ol, dl ) {
		margin-bottom: 0 ;
	}
}

// ---
// Base Styles.
// ---

html {
	box-sizing: border-box ;
	font-family: monospace ;
	font-size: 18px ;
	line-height: 1.5 ;
}

html *,
html *:before,
html *:after {
	box-sizing: inherit ;
}

body {
	background-color: #ffffff ;
	color: #161616 ;
	font-size: 1rem ;
	margin: 0 ;
	padding: 0 ;
}

article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block ;
}

h1 {
	font-size: 2rem ;
	margin: 0 0 1.6rem ;
}

h2 {
	font-size: 1.6rem ;
	margin: 1.6rem 0 1.3rem ;
}

h3 {
	font-size: 1.3rem ;
	margin: 1.6rem 0 1.1rem ;
}

h4,
h5,
h6 {
	font-size: 1rem ;
	margin: 1rem 0 ;
}

p {
	margin: 1rem 0 ;
}

ul,
ol {
	margin-bottom: 1.2rem ;
	margin-top: 1.2rem ;
}

li {
	.less-remove-inner-margins() ;

	margin-bottom: 0.1rem ;
	margin-top: 0 ;

	&:last-child {
		margin-bottom: 0 ;
	}
}

dl {
	margin: 1.2rem 0 ;
}

dl > div {
	margin-bottom: 1rem ;

	&:last-child {
		margin-bottom: 0 ;
	}
}

dt {
	font-weight: bold ;
	margin: 0 0 0.5rem ;
}

dd {
	.less-remove-inner-margins() ;

	margin: 0 0 0 2.2rem ;
}

table {
	border-collapse: collapse ;
	border-spacing: 0 ;
	margin-bottom: 1.5rem ;
	margin-top: 1.5rem ;
}

th {
	.less-remove-inner-margins() ;

	font-size: 1rem ;
	font-weight: bold ;
	padding: 0.3rem 0.5rem ;
}

td {
	.less-remove-inner-margins() ;

	font-size: 1rem ;
	padding: 0.3rem 0.5rem ;
}

a {
	color: inherit ;
	cursor: pointer ;
}

mark {
	background-color: #fffd76 ;
	color: #000000 ;
}

img {
	border: none ;
	display: block ;
	margin: 0 ;
	max-width: 100% ;
}

svg {
	display: block ;
	margin: 0 ;
	max-width: 100% ;
}

figure {
	margin: 1rem 0 ;
}

form {
	margin: 1.4rem 0 ;
	padding: 0 ;
}

input,
button,
select,
textarea {
	color: inherit ;
	font-family: inherit;
	font-size: inherit ;
	line-height: inherit ;
}

input,
button,
select,
textarea {
	padding: 0.4rem 0.7rem ;
	margin: 0 ;
}
button {
	padding: 0.4rem 0.9rem ;
}
select {
	padding: 0.5rem 0.7rem ;
}

button {
	cursor: pointer ;
}

// ---
// Utilities.
// ---

/*
Color palette utility:
https://bennadel.github.io/JavaScript-Demos/demos/color-palette/#(236,100,66.8),(109,41.2,52),(40,92.3,63.7),(343,100,65.1),(268,66.1,52.1),(55,100,52.5),(182,67.6,54.2),(131,100,71.6),(3,100,66.2)
*/

.u-variant-1 {
	background-color: #5661ff ;
	color: #f1f2ff ;
}
.u-variant-2 {
	background-color: #65b752 ;
	color: #f7fff6 ;
}
.u-variant-3 {
	background-color: #f8bf4d ;
	color: #0c0c0c ;
}
.u-variant-4 {
	background-color: #ff4d7f ;
	color: #fdfdfd ;
}
.u-variant-5 {
	background-color: #7f34d6 ;
	color: #feffff ;
}
.u-variant-6 {
	background-color: #ffeb0d ;
	color: #272727 ;
}
.u-variant-7 {
	background-color: #3bd4d9 ;
	color: #ffffff ;
}
.u-variant-8 {
	background-color: #6eff89 ;
	color: #11323b ;
}
.u-variant-9,
.u-variant-10,
.u-variant-11,
.u-variant-12,
.u-variant-13,
.u-variant-14,
.u-variant-15,
.u-variant-0 {
	background-color: #ff5b53 ;
	color: #ffffff ;
}

.u-no-margin-bottom {
	margin-bottom: 0 ;
}
.u-no-margin-top {
	margin-top: 0 ;
}

.u-no-margin-y {
	.u-no-margin-top() ;
	.u-no-margin-bottom() ;
}

.u-no-inner-margin-bottom {
	> *:last-child {
		margin-bottom: 0 ;
	}
}

.u-no-inner-margin-top {
	> *:first-child {
		margin-top: 0 ;
	}
}

.u-no-inner-margin-y {
	.u-no-inner-margin-top() ;
	.u-no-inner-margin-bottom() ;
}

ul.u-no-marker,
ol.u-no-marker {
	list-style-type: none ;
	margin-left: 0 ;
	padding: 0 ;

	> li {
		padding: 0 ;
	}
}

ul.u-breathing-room,
ol.u-breathing-room {
	> li {
		margin-bottom: 5px ;
		margin-top: 5px ;

		&:last-child {
			margin-bottom: 0 ;
		}
	}

	&.is-large > li {
		margin-bottom: 1rem ;
		margin-top: 1rem ;

		&:last-child {
			margin-bottom: 0 ;
		}
	}
}

.u-flex-row {
	align-items: center ;
	display: flex ;
	gap: 12px ;
}

.u-hidden {
	display: none ;
}

// ---
// Core Styles.
// ---

.ui-breakdown-bar {
	display: flex ;
	gap: 2px ;

	&__item {
		border-radius: 2px ;
		height: 24px ;
		min-width: 2px ;
	}
}

.ui-dots {
	display: flex ;
	gap: 5px ;
	justify-content: center ;

	&__dot {
		border-radius: 10px ;
		height: 10px ;
		width: 10px ;
	}
}

.ui-emoji {
	font-family: arial, verdana, sans-serif ;
}

.ui-error-message {
	background-color: #ffe8eb ;
	border: 1px solid #ff0000 ;
	border-left-width: 5px;
	padding: 0.8rem 1rem ;
}

.ui-folder {
	&__header {
		background-color: #ffffff ;
		border-bottom: 2px solid #333333 ;
		display: flex ;
		font-weight: 400 ;
		margin: 2.4rem 0 0 0 ;
		position: sticky ;
		top: 0 ;
		z-index: 2 ;
	}

	&__tab {
		background-color: #333333 ;
		border-top-right-radius: 3px ;
		color: #ffffff ;
		flex: 0 0 auto ;
		padding: 0.5rem 1.8rem 0.4rem 1.5rem ;
	}

	&__main {
		.u-no-inner-margin-y() ;

		border: 2px solid #333333 ;
		padding: 1.5rem 1.6rem 1.6rem 1.5rem ;
	}
}

.ui-readable-width {
	max-width: 1000px ;
}

.ui-revert {
	background-color: #ff294e ;
	color: #ffffff ;
}

.ui-rule {
	border: none ;
	border-top: 1px solid #999999 ;
	margin: 1.9rem 0 1.8rem ;
	padding: 0 ;

	&.is-soft {
		border-top: 1px dashed #aaaaaa ;
	}
}

.ui-snippet {
	background-color: #fafafa ;
	border: 1px solid #cccccc ;
	border-radius: 4px ;
	color: #000000 ;
	display: block ;
	font-size: 90% ;
	line-height: 1.6 ;
	margin: 1.8rem 0 ;
	padding: 0.9rem 1rem 0.8rem 1.1rem ;
	tab-size: 4 ;
	white-space: pre-wrap ;

	> code {
		display: block ;
	}
}

.ui-tag {
	border-radius: 0.2rem ;
	display: block ;
	padding: 0.2rem 0.5rem ;

	&.is-inline {
		display: inline-block ;
	}

	&.is-stroked {
		border: 1px solid #cccccc ;
	}

	&.is-value {
		border: 1px solid #f55dff ;
	}

	&.is-role {
		border: 1px solid #cccccc ;
	}
}

.ui-tag-list {
	display: flex ;
	flex-wrap: wrap ;
	gap: 0.8rem ;
}

.ui-text-button {
	background-color: transparent ;
	border: none ;
	padding: 0 ;
	text-decoration: underline ;
}

// ---
// Components.
// ---

.choggle {
	align-items: center ;
	display: flex ;
	gap: 10px ;
}
.choggle__control {}
.choggle__label {}

.content-wrapper {
	padding: 1.6rem 2rem 0.6rem ;
}

.m0-sprites {
	display: none ;
}

.m1-shell {
	align-items: flex-start ;
	display: flex ;

	&__header {
		background-color: #ffffff ;
		box-shadow: 1px 0px 0px #d0d0d0 ;
		display: flex ;
		flex-direction: column ;
		flex: 0 0 auto ;
		min-height: 100vh ;
		position: sticky ;
		top: 0 ;
	}

	&__main {
		flex: 1 1 auto ;
	}
}
.m1-nav {
	padding: 5px 0 ;
	width: 270px ;

	&__item {
		align-items: center ;
		border: 4px solid #ffffff ;
		border-radius: 3px ;
		border-width: 4px 8px ;
		color: #212121 ;
		display: flex ;
		gap: 13px ;
		padding: 7px 8px ;
		text-decoration: none ;
		white-space: nowrap ;

		&.is-logo {
			margin-bottom: 20px ;
		}

		&.is-on {
			background-color: #f2f2f3 ;
			font-weight: bold ;
		}
	}

	&__icon {
		display: flex ;
		height: 32px ;
		width: 32px ;

		svg {
			height: 24px ;
			margin: auto ;
			width: 24px ;
		}
	}

	&__label {
		u {
			text-decoration: none ;
		}
	}

	&__item:hover &__label {
		u {
			text-decoration: underline  ;
		}
	}
}
.m1-video-link {
	border: 1px dashed #cccccc ;
	margin: auto auto 20px auto ;
	padding: 30px 0 ;
	text-align: center ;
	width: 224px ;
}

.m2-body {
	margin: 0 ;
}

.m3-main {
	margin: 0 auto ;
	max-width: 800px ;
}

.m4-main {
	margin: 0 auto ;
	max-width: 800px ;
}

.m5-grid {
	border-collapse: collapse ;
	border-spacing: 0 ;
	margin-bottom: 2.5rem ;
	width: 100% ;

	th,
	td {
		border-bottom: 1px solid #cccccc ;
		padding: 7px 10px ;
	}
	thead th {
		border-bottom-width: 2px ;
	}
	tbody tr:hover th,
	tbody tr:hover td {
		background-color: #f0f0f0 ;
	}
	.env-left {
		border-left: 1px solid #cccccc ;
	}
	.env-right {
		border-right: 1px solid #cccccc ;
	}
	.disabled {
		color: #cccccc ;
	}
}

.m6-panels {
	display: flex ;
	min-height: 100vh ;

	&__main {
		flex: 1 1 auto ;
	}

	&__aside {
		box-shadow: -1px 0 #d0d0d0 ;
		flex: 0 0 auto ;
	}

	&__aside-wrapper {
		position: sticky ;
		top: 0 ;
	}
}

.m7-grid {
	thead th {
		padding: 0 5px 5px 5px ;
		text-align: left ;
	}

	thead th:first-child {
		padding-left: 0 ;
	}

	tbody th {
		padding: 5px 20px 5px 0 ;
		text-align: left ;
	}

	td {
		padding: 5px 20px 5px 0 ;
	}

	td:last-child {
		padding-right: 0 ;
	}
}

.m7-legend {
	display: flex ;
	gap: 13px ;
	list-style-type: none ;
	margin: 0 ;
	padding: 0 ;

	li {
		margin: 0 ;
		padding: 0 ;
	}
	
	span {
		border-radius: 3px ;
		display: block ;
		padding: 3px 10px ;
	}
}

.m7-states {
	display: flex ;
	gap: 3px ;

	span {
		border-radius: 3px ;
		flex: 0 0 auto ;
		height: 1vw ;
		height: clamp( 13px, 1vw, 23px ) ;
		width: 1vw ;
		width: clamp( 13px, 1vw, 23px ) ;
	}
}

@keyframes m7-pulsate {
	50% {
		border-radius: 10px ;
		transform: scale( 0.3 ) ;
	}
}

.m7-journey {
	.current {
		background-color: #f0f0f0 ;
		font-weight: bold ;
	}
}

.m8-json {
	opacity: 0.2 ;
	
	&:hover {
		opacity: 1.0 ;
		transition: opacity 300ms ease-out ;
	}

	&__rule {
		margin: 3rem 0 1.5rem ;
	}
}

.m9-uh-oh {
	border: 4px solid red ;
	padding: 21px 24px ;
	margin-top: 2rem ;

	h2 {
		font-size: 1.3rem ;
	}
}

.m10-grid {
	border-collapse: collapse ;
	border-spacing: 0 ;
	width: 100% ;

	th,
	td {
		border-bottom: 1px solid #cccccc ;
		padding: 7px 10px ;
		text-align: left ;
		white-space: nowrap ;
	}

	th {
		border-bottom-width: 2px ;
	}

	th.sticky {
		background-color: #ffffff ;
		padding: 10px ;
		position: sticky ;
		top: -1px ;
		z-index: 2 ;
	}

	.col-group {
		border: 1px dashed #cccccc ;
		border-bottom: 2px solid #cccccc ;
		padding: 10px ;
		text-align: center ;
	}

	.row-group {
		padding: 20px 20px ;
		text-align: center ;
	}

	tbody tr:hover th,
	tbody tr:hover td {
		background-color: #f0f0f0 ;
	}

	.sorter {
		cursor: pointer ;
		user-select: none ;
	}

	.diminish {
		opacity: 0.3 ;
	}

	.highlight {
		background-color: #fff59a ;
	}
}

.m11-state {
	display: flex ;
	flex-wrap: wrap ;
	gap: 1px ;

	a {
		padding: 9px 15px 8px ;
		text-decoration: none ;

		&:first-child {
			border-top-left-radius: 3px ;
		}

		&:last-child {
			border-bottom-right-radius: 3px ;
		}

		&:hover {
			text-decoration: underline ;
		}
	}
}

.m12-grid {
	width: 100% ;

	th,
	td {
		border-bottom: 1px solid #cccccc ;
		padding: 7px 10px ;
	}

	thead th {
		border-bottom-width: 2px ;
	}

	tbody tr:hover th,
	tbody tr:hover td:not(.variant) {
		background-color: #f0f0f0 ;
	}

	.env-left {
		border-left: 1px solid #cccccc ;
	}

	.env-right {
		border-right: 1px solid #cccccc ;
		text-align: center ;
	}

	.disabled {
		color: #cccccc ;
	}
}

.m13-tile-form {
	margin-bottom: 1rem ;
}

.m13-tiles {
	display: flex ;
	flex-wrap: wrap ;
	gap: 10px ;
}

.m13-tile {
	background-color: #fde6ff ;
	border: 1px solid #f55dff ;
	border-radius: 3px ;
	display: flex ;

	&__value {
		align-self: center ;
		padding: 5px 15px ;
	}
	&__remove {
		background-color: #f55dff ;
		border: none ;
		cursor: pointer ;
		margin: 0 ;
		padding-inline: 12px ;
	}
}

.m14-panels {
	align-items: flex-start ;
	display: flex ;

	&__main {
		flex: 1 1 auto ;
	}

	&__aside {
		box-shadow: -1px 0 #d0d0d0 ;
		display: flex ;
		flex: 0 0 auto ;
		min-height: 100vh ;
		padding: 15px 20px 20px 20px ;
		position: sticky ;
		top: 0 ;
	}
}

.m14-rule {
	border: 1px dashed #999999 ;
	border-radius: 3px ;
	padding: 20px ;

	&:hover {
		border-style: solid ;
	}

	&--disabled {
		opacity: 0.3 ;
	}
}

.m14-editable {
	cursor: pointer ;
	display: flex ;

	&:hover {
		background-color: #f0f0f0 ;
	}

	&__link {
		font-weight: 400 ;
		opacity: 0.7 ;
	}

	&__link:nth-of-type(1) {
		margin-left: auto ;
	}

	&__link:nth-of-type(2) {
		margin-left: 15px ;
	}

	&__link:hover {
		opacity: 1.0 ;
	}
}

@keyframes m14-proximal-animated {
	50% {
		outline-offset: 6px ;
	}
}

.m14-state {
	display: grid ;
	column-gap: 1px ;
	grid-template-columns: 1fr 1fr ;
	min-width: 400px ;

	&__header {
		font-weight: bold ;
		padding: 0 15px 10px ;
		text-align: center ;
	}

	&__variant {
		border-bottom: 0.5px solid #ffffff ;
		min-height: 4px ;
	}

	&__variant:hover {
		outline: 3px solid #ffffff ;
		outline-offset: 0px ;
		z-index: 2 ;
	}
}
