
@if ( isLoading ) {

	<app-spinner></app-spinner>

}

@if ( ! isLoading && feature ) {

	<section class="temp-content">

		<h2>
			Delete Feature: {{ feature.key }}
		</h2>

		@if ( errorMessage ) {

			<p class="temp-error-message">
				{{ errorMessage }}
			</p>

		}

		<dl>
			<div>
				<dt>Key:</dt>
				<dd>{{ feature.key }}</dd>
			</div>
			<div>
				<dt>Type:</dt>
				<dd>{{ feature.type }}</dd>
			</div>

			@if ( feature.description ) {

				<div>
					<dt>Description:</dt>
					<dd>{{ feature.description }}</dd>
				</div>

			}
			<div>
				<dt>Variants:</dt>
				<dd>
					<ol>
						@for ( variant of feature.variants ; track $index ) {

							<li>
								<span class="variant-{{ $index + 1 }}">{{ variant | json }}</span>
							</li>

						}
					</ol>
				</dd>
			</div>
		</dl>

		<form (submit)="processForm()">
			<button type="submit">
				Delete
			</button>
			<a [routerLink]="[ '/features', routeInputs.featureKey ]">Cancel</a>
		</form>

	</section>

}
