
html {
	box-sizing: border-box ;
}

html *,
html *:before,
html *:after {
	box-sizing: inherit ;
}

body {
	font-family: monospace ;
	font-size: 20px ;
	line-height: 1.4 ;
}

a {
	color: red ;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit ;
	line-height: inherit ;
}

input[ type = "text" ] {
	padding: 5px 10px ;
}
button {
	padding: 5px 10px ;
}
select {
	padding: 5px 10px ;
}
textarea {
	padding: 5px 10px ;
}

dl.key-values {
	margin: 20px 0 30px ;
}
dl.key-values dt {
	margin: 0 0 5px ;
}
dl.key-values > div {
	margin: 10px 0 15px ;
}
dl.key-values > div:first-child,
dl.key-values > div > dt > *:first-child,
dl.key-values > div > dd > *:first-child {
	margin-top: 0 ;
}
dl.key-values > div:last-child,
dl.key-values > div > dt > *:last-child,
dl.key-values > div > dd > *:last-child {
	margin-bottom: 0 ;
}

dl.key-values--static {
	border-bottom: 1px dashed #cccccc ;
	margin-bottom: 30px ;
	padding-bottom: 20px ;
}

.choggle {
	align-items: center ;
	display: flex ;
	gap: 10px ;
}
.choggle--inline {
	display: inline-flex ;
}
.choggle__control {}
.choggle__label {}

.tag {
	border-radius: 3px ;
	display: inline-block ;
	padding: 2px 7px ;
}

ul.breathing-room li,
ol.breathing-room li {
	margin-bottom: 5px ;
	margin-top: 5px ;
}

ul.no-marker,
ol.no-marker {
	list-style-type: none ;
	margin-left: 0 ;
	margin-right: 0 ;
	padding: 0 ;
}

ul.no-marker li,
ol.no-marker li {
	padding: 0 ;
}

/*
Color palette utility:
https://bennadel.github.io/JavaScript-Demos/demos/color-palette/#(236,100,66.8),(109,41.2,52),(40,92.3,63.7),(343,100,65.1),(268,66.1,52.1),(55,100,52.5),(182,67.6,54.2),(131,100,71.6),(3,100,66.2)
*/

.variant-1 {
	background-color: #5661ff ;
	color: #f1f2ff ;
}
.variant-2 {
	background-color: #65b752 ;
	color: #f7fff6 ;
}
.variant-3 {
	background-color: #f8bf4d ;
	color: #0c0c0c ;
}
.variant-4 {
	background-color: #ff4d7f ;
	color: #fdfdfd ;
}
.variant-5 {
	background-color: #7f34d6 ;
	color: #feffff ;
}
.variant-6 {
	background-color: #ffeb0d ;
	color: #272727 ;
}
.variant-7 {
	background-color: #3bd4d9 ;
	color: #ffffff ;
}
.variant-8 {
	background-color: #6eff89 ;
	color: #11323b ;
}
.variant-9,
.variant-10,
.variant-11,
.variant-12,
.variant-13,
.variant-14,
.variant-15,
.variant-0 {
	background-color: #ff5b53 ;
	color: #ffffff ;
}

.error-message {
	background-color: #ffe8eb ;
	border: 1px solid #ff0000 ;
	border-left-width: 5px;
	padding: 14px 18px ;
}