
<section class="temp-content">

	@if ( isLoading ) {

		<app-spinner></app-spinner>

	}

	@if ( ! isLoading ) {

		<h1>
			Demo Users For Targeting
		</h1>

		<p>
			This playground provides 100 users across 10 companies that can be used in your feature flag targeting. I've purposely used 100 users so that every 1% of additional <em>distribution</em> will (roughly) map to an additional 1 user.
		</p>

		<p>
			I've also created 6 users <mark>based on your email address</mark> that are part of the company <strong>"devteam"</strong>:
		</p>

		<ul class="breathing-room">
			@for ( user of authenticatedUsers ; track user.id ) {
				<li>
					<span class="role-tag">{{ user.role }}</span>
					&rarr;
					{{ user.email }}
				</li>
			}
		</ul>

		<h2 id="all-users">
			All Users
		</h2>

		<table class="grid">
		<thead>
			<tr>
				<th colspan="3" class="col-group">
					User
				</th>
				<th colspan="4" class="col-group">
					Company
				</th>
				<th colspan="2" class="col-group">
					Groups
				</th>
			</tr>
			<tr>
				<!-- User. -->
				<th class="sticky">
					<a
						[routerLink]="[ './', { sortOn: 'user.id' } ]"
						fragment="all-users"
						class="sorter">
						ID
					</a>
				</th>
				<th class="sticky">
					<a
						[routerLink]="[ './', { sortOn: 'user.email' } ]"
						fragment="all-users"
						class="sorter">
						Email
					</a>
				</th>
				<th class="sticky">
					<a
						[routerLink]="[ './', { sortOn: 'user.role' } ]"
						fragment="all-users"
						class="sorter">
						Role
					</a>
				</th>
				<!-- Company. -->
				<th class="sticky">
					<a
						[routerLink]="[ './', { sortOn: 'user.company.id' } ]"
						fragment="all-users"
						class="sorter">
						ID
					</a>
				</th>
				<th class="sticky">
					<a
						[routerLink]="[ './', { sortOn: 'user.company.subdomain' } ]"
						fragment="all-users"
						class="sorter">
						Subdomain
					</a>
				</th>
				<th class="sticky">
					<a
						[routerLink]="[ './', { sortOn: 'user.company.fortune100' } ]"
						fragment="all-users"
						class="sorter">
						Fortune100
					</a>
				</th>
				<th class="sticky">
					<a
						[routerLink]="[ './', { sortOn: 'user.company.fortune500' } ]"
						fragment="all-users"
						class="sorter">
						Fortune500
					</a>
				</th>
				<!-- Groups. -->
				<th class="sticky">
					<a
						[routerLink]="[ './', { sortOn: 'user.groups.betaTester' } ]"
						fragment="all-users"
						class="sorter">
						BetaTester
					</a>
				</th>
				<th class="sticky">
					<a
						[routerLink]="[ './', { sortOn: 'user.groups.influencer' } ]"
						fragment="all-users"
						class="sorter">
						Influencer
					</a>
				</th>
			</tr>
		</thead>
		@for ( group of groups ; track $index ) {

			<tbody>
				<tr>
					<th colspan="9" class="row-group">
						{{ group.name }}
						({{ group.users.length }})
					</th>
				</tr>

				@for ( user of group.users ; track user.id ) {

					<tr>
						<!-- User. -->
						<td [class.highlight]="( routeInputs.sortOn === 'user.id' )">
							{{ user.id }}
						</td>
						<td [class.highlight]="( routeInputs.sortOn === 'user.email' )">
							<span class="diminish">{{ user.emailUser }}</span>{{ user.emailDomain }}
						</td>
						<td [class.highlight]="( routeInputs.sortOn === 'user.role' )">
							{{ user.role }}
						</td>
						<!-- Company. -->
						<td [class.highlight]="( routeInputs.sortOn === 'user.company.id' )">
							{{ user.company.id }}
						</td>
						<td [class.highlight]="( routeInputs.sortOn === 'user.company.subdomain' )">
							{{ user.company.subdomain }}
						</td>
						<td [class.highlight]="( routeInputs.sortOn === 'user.company.fortune100' )">
							{{ user.company.fortune100 }}
						</td>
						<td [class.highlight]="( routeInputs.sortOn === 'user.company.fortune500' )">
							{{ user.company.fortune500 }}
						</td>
						<!-- Groups. -->
						<td [class.highlight]="( routeInputs.sortOn === 'user.groups.betaTester' )">
							{{ user.groups.betaTester }}
						</td>
						<td [class.highlight]="( routeInputs.sortOn === 'user.groups.influencer' )">
							{{ user.groups.influencer }}
						</td>
					</tr>

				}

			</tbody>

		}
		</table>

	}

</section>
