
@if ( isLoading ) {

	<app-spinner></app-spinner>

}

@if ( ! isLoading && user ) {

	<section class="temp-content">

		<h1>
			{{ user.name }}
		</h1>

		<dl>
			<div>
				<dt>Email:</dt>
				<dd>{{ user.email }}</dd>
			</div>
			<div>
				<dt>Role:</dt>
				<dd>{{ user.role }}</dd>
			</div>
			<div>
				<dt>Company ID:</dt>
				<dd>{{ user.company.id }}</dd>
			</div>
			<div>
				<dt>Company Subdomain:</dt>
				<dd>{{ user.company.subdomain }}</dd>
			</div>
			<div>
				<dt>Company Fortune 100:</dt>
				<dd>{{ user.company.fortune100 }}</dd>
			</div>
			<div>
				<dt>Company Fortune 500:</dt>
				<dd>{{ user.company.fortune500 }}</dd>
			</div>
			<div>
				<dt>Beta Tester:</dt>
				<dd>{{ user.groups.betaTester }}</dd>
			</div>
			<div>
				<dt>Influencer:</dt>
				<dd>{{ user.groups.influencer }}</dd>
			</div>
		</dl>

		<table>
		<thead>
			<tr>
				<th>
					Feature
				</th>

				@for ( environment of environments ; track environment.key ) {

					<th>
						<a [routerLink]="[ '/staging/features', environment.key ]">{{ environment.name }}</a>
					</th>

				}
			</tr>
		</thead>
		<tbody>
			@for ( feature of features ; track feature.key ) {

				<tr>
					<th scope="row">
						<a [routerLink]="[ '/features', feature.key ]">{{ feature.key }}</a>
					</th>
					@for ( environment of environments ; track environment.key ) {

						<td class="variant variant-{{ breakdown[ feature.key ][ environment.key ].variantIndex }}">
							<a [routerLink]="[ '/staging/users', user.id, 'explain', feature.key, environment.key ]">{{ breakdown[ feature.key ][ environment.key ].variant }}</a>
						</td>

					}
				</tr>

			}
		</tbody>
		</table>

	</section>

}
