
:host {
	align-items: flex-start ;
	display: flex ;
	min-height: 100vh ;
}

.temp-main {
	flex: 1 1 auto ;
}

.temp-map {
	flex: 0 0 auto ;
	max-height: 100vh ;
	min-height: 100vh ;
	position: sticky ;
	right: 0 ;
	top: 0 ;
	width: 10vw ;
}


.variant a {
	color: inherit ;
}

.breakdown {
	thead {
		th {
			background-color: #ffffff ;
			position: sticky ;
			top: 0 ;
		}
	}
	tbody {
		th {
			background-color: #ffffff ;
			position: sticky ;
			left: 0 ;
		}
	}
	th,
	td {
		white-space: nowrap ;
	}
}

.map {
	display: grid ;
	max-height: 100vh ;
	min-height: 100vh ;
	width: 100% ;

	button {
		border: none ;
		cursor: pointer ;
		margin: 0 ;
		padding: 0 ;

		&:hover {
			background-color: #ffffff ;
		}
	}
}
