
@if ( isLoading ) {

	<app-spinner></app-spinner>

}

@if ( ! isLoading ) {

	<section class="temp-content temp-main">

		<h1>
			Feature Flag Evaluation
		</h1>

		<p>
			@for ( environment of environments ; track environment.key ) {

					<a
						[routerLink]="[ '/staging/features', environment.key ]"
						routerLinkActive="active">{{ environment.name }}</a> ,

			}
		</p>

		<table class="breakdown">
		<thead>
			<tr>
				<th>
					... tools ...
				</th>
				@for ( feature of features ; track feature.key ) {

					<th>
						{{ feature.description }}<br />
						<a [routerLink]="[ '/features', feature.key ]">{{ feature.key }}</a>
					</th>

				}
			</tr>
		</thead>
		<tbody>

			@for ( user of users ; track user.id ) {

				<tr>
					<th scope="row">
						{{ user.email }}
					</th>

					@for ( feature of features ; track feature.key ) {

						<td
							[attr.data-user-id]="user.id"
							[attr.data-feature-key]="feature.key"
							class="variant variant-{{ breakdown[ environmentKey ][ user.id ][ feature.key ].variantIndex }}">
							<a [routerLink]="[ '/staging/users', user.id, 'explain', feature.key, environmentKey ]">{{ breakdown[ environmentKey ][ user.id ][ feature.key ].variant | json }}</a>
						</td>

					}
				</tr>

			}

		</tbody>
		</table>

	</section>

	<aside class="temp-map">

		<div
			class="map"
			[style.grid-template-columns]="( 'repeat(' + features.length + ', 1fr )' )">

			@for ( user of users ; track user.id ) {

				@for ( feature of features ; track feature.key ) {

					<button
						(click)="scrollToEvaluation( user.id, feature.key )"
						class="variant-{{ breakdown[ environmentKey ][ user.id ][ feature.key ].variantIndex }}">
					</button>

				}

			}

		</div>

	</aside>

}
